@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "All Users";
}
<h3 class="ipc"><i class="bi bi-person-circle"></i> All Users</h3>
<hr />
<div class="row">
    <div class="col-md-8 offset-2">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Email</th>
                    <th scope="col">phone</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr class="table-active">
                    <td >@item.FirstName  @item.LastName</td>
                    <td><span style="background-color:yellow;" class="badge  text-black">@item.UserName</span></td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    </tr>
                }
              
            </tbody>

        </table>

    </div>
</div>