@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping cart";
}
<h3 class="ipc"><i class="bi bi-bag-check"></i> You Shopping Cart</h3>
<hr />
<div class="row">
    <div class="col-md-8 offset-2">
        @foreach (var i in Model.ShoppingCart.ShoppingCartItems)
        {
            <div class="col-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-2  ">
                            <img style="width:100px;height:130px;" src="data:image/jpg;base64,@(Convert.ToBase64String(i.Movie.Picture))" class="poster   img-fluid rounded-start " alt="Poster">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body d-flex flex-column justify-content-between h-100">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <a class="TitleLink" asp-action="Details" asp-controller="Movies" asp-route-id="@i.Movie.Id"><h5 class="card-title"><i class="bi bi-camera-reels"></i> @i.Movie.Title</h5></a> </div>
                                    <div><span style="background-color:yellow;" class="badge  text-black">Price</span> = @i.Movie.Price</div>
                                   <div><span style="background-color:yellow;" class="badge  text-black">Amount</span> = @i.Amount</div>
                                   
                                </div>

                                <div class="d-flex justify-content-between">
                                    <div>
                                        <span style="background-color:yellow;" class="badge  text-black">SubTotal</span> = @((i.Amount * i.Movie.Price).ToString("c"))
                                    </div>
                                    <div>
                                        <a class=" btn btn-danger" asp-controller="Orders" asp-action="RemoveItemFromCart"
                                           asp-route-id="@i.Movie.Id">
                                            <i class="bi bi-cart-dash"></i>
                                        </a>
                                        <a style="background-color:yellowgreen;" class="text-black btn btn-success" asp-controller="Orders" asp-action="AddItemToCart"
                                           asp-route-id="@i.Movie.Id">
                                            <i class="bi bi-cart-plus"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="containerss">
           
            <div class="buttons">
               
            </div>
            <div class="total-pricess">
                <h5><span style="background-color:yellow;" class="badge  text-black">Total Price </span> = @Model.ShoppingCartTotal.ToString("c")</h5>
            </div>
        </div>
        <br />
        <div class="text-right containerssAA">
            <div class="btn-group">
                <div id="paypal-btn"></div>
                <span style="padding:20px"></span>
                <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">
                    Add more items
                </a>
            </div>
        </div> 

    </div>
</div>

@section Scripts {

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>

        let _total = @Html.Raw(Model.ShoppingCartTotal);

        paypal.Button.render({
            //Configure environment
            env: 'sandbox',
            client: {
                sandbox: 'AcKRtgL4i68EZ2ZYuYUx3ilihAg2YhL5dtF_m19A8MjBWVOn6ewNS4M_uV8gA3xi98zTcUq38gUHbVFx'
            },

            //Customize button
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,

            //Set up a payment
            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'USD'
                        }
                    }]
                });
            },

            //Execute the payment
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    var url = '@Url.Action("CompleteOrder", "Orders", new { })';
                    window.location.href = url;
                });
            }

        }, '#paypal-btn')
    </script>
}
